---
layout: default
title: Home
image_sliders:
  - slider2
---


{% if page.url == "/" %}

<!-- Slideshow
================================================== -->
{% include slider.html selector="slider2" %}

<!-- Services
================================================== -->
<a class="anchor" id="why-us"></a>
<section class="why=us">
    <div class="section-title">
        <h2><span>Why Us?</span></h2>
    </div>
    <div class="row">
        <div class="col-md-12 mb-30px">
            <div class="listfeaturedtag h-100">
                <div class="row h-100">
                    <div class="col-12 col-md-12 col-lg-5 pr-lg-0">
                        <div class="h-100">
                            <div class="wrapthumbnail">
                                <a href="{{ site.baseurl }}{{ post.url }}">
                                    {% if site.lazyimages == "enabled" %}
                                    <img class="featured-box-img-cover lazyimg"  src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAQAAAA3fa6RAAAADklEQVR42mNkAANGCAUAACMAA2w/AMgAAAAASUVORK5CYII=" data-src="{% if post.image contains "://" %}{{ post.image }}{% else %}{{ site.baseurl }}/{{ post.image }}{% endif %}">
                                    {% else %}
                                    <img class="featured-box-img-cover" src="{% if post.image contains "://" %}{{ post.image }}{% else %}{{ site.baseurl }}/{{ post.image }}{% endif %}">
                                    {% endif %}
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-12 col-lg-7">
                        <div class="h-100 card-group">
                            <div class="card">
                                <div class="card-body">
                                    <h2 class="card-title">
                                        <a class="text-dark" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
                                        {% if post.rating %}
                                        <div class="mb-2 mt-2 font-weight-normal">
                                        {% include star_rating_postbox.html %}
                                        </div>
                                        {% endif %}
                                    </h2>
        
                                    <h4 class="card-text">{{ post.excerpt | strip_html | truncatewords:25 }}</h4>
                                </div>
                                <div class="card-footer b-0 bg-white mt-auto">
                                    <div class="wrapfooter">
                                        {% if post.author %}
                                        <span class="meta-footer-thumb">
                                        {% if author.avatar %}
                                        <img class="author-thumb" src="{{site.baseurl}}/{{ author.avatar }}" alt="{{ author.display_name }}">
                                        {% else %}
                                        <img class="author-thumb" src="https://www.gravatar.com/avatar/{{ author.gravatar }}?s=250&d=mm&r=x" alt="{{ author.display_name }}">
                                        {% endif %}
                                        </span>
                                        <span class="author-meta">
                                        <span class="post-name"><a target="_blank" href="{{ author.web }}">{{ author.display_name }}</a></span><br/>
                                        {% endif %}
                                        <!-- <span class="post-date">{{ post.date | date_to_string }}</span> -->
                                        </span>
                                        <span class="post-read-more"><a href="{{ site.baseurl }}/{{ post.url }}" title="Read Story"><svg class="svgIcon-use" width="25" height="25" viewbox="0 0 25 25"><path d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z" fill-rule="evenodd"></path></svg></a></span>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Services
================================================== -->
<a class="anchor" id="services"></a>
<section class="our-services">
    <div class="section-title">
        <h2><span>Our Services</span></h2>
    </div>
    <div class="row">
        <div class="services col-md-6 pr-5">
            <ul>
                <li>&#10004; Garden Design</li>
                <li>&#10004; Landscape Gardening</li>
                <li>&#10004; Fencing and Decking</li>
                <li>&#10004; Brickwork & Walls</li>
                <li>&#10004; Bedding & Plant Supply</li>
                <li>&#10004; Laying New Lawns</li>
                <li>&#10004; Turf & Artificial Grass</li>
                <li>&#10004; Outdoor Lighting</li>
            </ul>
        </div>
        <div class="services col-md-6 pr-5">
            <ul>
                <li>&#10004; Seeding & Planting</li>
                <li>&#10004; Weeding & Pruning</li>
                <li>&#10004; Lawn Treatments</li>
                <li>&#10004; Mowing, Edging & Aeration</li>
                <li>&#10004; Water Features & Ponds</li>
                <li>&#10004; Tree Surgery</li>
                <li>&#10004; Stump Grinding & Removal</li>
                <li>&#10004; All Other Landscaping Work</li>
            </ul>
        </div>
    </div>
</section>

<a class="anchor" id="freequote"></a>
<section class="featured-posts"></section>
    <div class="section-title">
        <h2><span>Request for a quote</span></h2>
    </div>
    <div class="row">
        <div class="col-md-12 pr-5">

            <form method="post" action="https://forms.un-static.com/forms/{{ site.contactusendpointreference }}">

                <div class="form-group row" style="color: #00ab6b">
                    <label for="name" class="col-4 col-form-label">Job Summary</label>
                    <div class="col-8">
                        <div class="input-group">
                            <input id="jobtype" name="jobtype" type="text" required="required" class="form-control">
                        </div>
                    </div>
                </div>
        
                <div class="form-group row" style="color: #00ab6b">
                    <label for="name" class="col-4 col-form-label">Tell us more about your job</label>
                    <div class="col-8">
                        <textarea id="message" name="message" cols="40" rows="10" required="required" class="form-control"></textarea>
                    </div>
                </div>
        
                <div class="form-group row" style="color: #00ab6b">
                    <label for="name" class="col-4 col-form-label">Post Code</label>
                    <div class="col-8">
                        <div class="input-group">
                            <input id="postcode" name="postcode" type="text" required="required" class="form-control">
                        </div>
                    </div>
                </div>
        
                <div class="form-group row" style="color: #00ab6b">
                    <label for="name" class="col-4 col-form-label">First Name</label>
                    <div class="col-8">
                        <div class="input-group">
                            <input id="firstname" name="firstname" type="text" required="required" class="form-control">
                        </div>
                    </div>
                </div>
        
                <div class="form-group row" style="color: #00ab6b">
                <label for="name" class="col-4 col-form-label">Last Name</label>
                    <div class="col-8">
                        <div class="input-group">
                            <input id="lastname" name="lastname" type="text" required="required" class="form-control">
                        </div>
                    </div>
                </div>
        
                <div class="form-group row" style="color: #00ab6b">
                    <label for="name" class="col-4 col-form-label">Email Address</label>
                    <div class="col-8">
                        <div class="input-group">
                            <input id="email" name="email" type="text" required="required" class="form-control">
                        </div>
                    </div>
                </div>
        
                <div class="form-group row" style="color: #00ab6b">
                    <label for="name" class="col-4 col-form-label">Phone Number</label>
                    <div class="col-8">
                        <div class="input-group">
                            <input id="phone" name="phonee" type="text" required="required" class="form-control">
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="offset-4 col-8">
                        <button name="submit" type="submit" class="btn btn-primary" style="background-color: #00ab6b" >Send</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

<!-- Featured
================================================== -->
<a class="anchor" id="featuredposts"></a>
<section class="featured-posts">
    <div class="section-title">
        <h2><span>What we do</span></h2>
    </div>
    <div class="row">

    {% for post in site.posts %}

        {% if post.featured == true %}

            {% include featuredbox.html %}

        {% endif %}

    {% endfor %}

    </div>
</section>

{% endif %}

<!-- Posts Index
================================================== -->
<a class="anchor" id="recentposts"></a>
<section class="recent-posts">

    <div class="section-title">

        <h2><span>All Stories</span></h2>

    </div>

    <div class="row listrecent">

        {% for post in paginator.posts %}

            {% include postbox.html %}

        {% endfor %}

    </div>

</section>

<!-- Pagination
================================================== -->
<div class="bottompagination">
<div class="pointerup"><i class="fa fa-caret-up"></i></div>
<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div>

