---
layout: default
title: Home
image_sliders:
  - slider2
---


{% if page.url == "/" %}

<!-- Slideshow
================================================== -->
{% include slider.html selector="slider2" %}

<!-- Services
================================================== -->
<a class="anchor" id="services"></a>
<section class="services">
    <div class="section-title">
        <h2><span>Our Services</span></h2>
    </div>
    <div class="row">
        <div class="col-md-6 pr-5">
            <ul>
                <li>&#10004; Garden Maintenance</li>
                <li>&#10004; Hard Landscaping</li>
                <li>&#10004; Planting</li>
                <li>&#10004; Turfing</li>
                <li>&#10004; Clearances</li>
            </ul>
        </div>
        <div class="col-md-6 pr-5">
            <ul>
                <li>&#10004; Garden Maintenance</li>
                <li>&#10004; Hard Landscaping</li>
                <li>&#10004; Planting</li>
                <li>&#10004; Turfing</li>
                <li>&#10004; Clearances</li>
            </ul>
        </div>
    </div>
</section>

<a class="anchor" id="freequote"></a>
<section class="featured-posts"></section>
    <div class="section-title">
        <h2><span>Request for a quote</span></h2>
    </div>
    <div class="row">

        <!-- <div class="row justify-content-between"> -->
            <div class="col-md-12 pr-5">
    
                <form method="post" action="https://forms.un-static.com/forms/{{ site.contactusendpointreference }}">
    
                    <div class="form-group row" style="color: #00ab6b">
                        <label for="name" class="col-4 col-form-label">Job Summary</label>
                        <div class="col-8">
                            <div class="input-group">
                                <input id="jobtype" name="jobtype" type="text" required="required" class="form-control">
                            </div>
                        </div>
                    </div>
            
                    <div class="form-group row" style="color: #00ab6b">
                        <label for="name" class="col-4 col-form-label">Tell us more about your job</label>
                        <div class="col-8">
                            <textarea id="message" name="message" cols="40" rows="10" required="required" class="form-control"></textarea>
                        </div>
                    </div>
            
                    <div class="form-group row" style="color: #00ab6b">
                        <label for="name" class="col-4 col-form-label">Post Code</label>
                        <div class="col-8">
                            <div class="input-group">
                                <input id="postcode" name="postcode" type="text" required="required" class="form-control">
                            </div>
                        </div>
                    </div>
            
                    <div class="form-group row" style="color: #00ab6b">
                        <label for="name" class="col-4 col-form-label">First Name</label>
                        <div class="col-8">
                            <div class="input-group">
                                <input id="firstname" name="firstname" type="text" required="required" class="form-control">
                            </div>
                        </div>
                    </div>
            
                    <div class="form-group row" style="color: #00ab6b">
                    <label for="name" class="col-4 col-form-label">Last Name</label>
                        <div class="col-8">
                            <div class="input-group">
                                <input id="lastname" name="lastname" type="text" required="required" class="form-control">
                            </div>
                        </div>
                    </div>
            
                    <div class="form-group row" style="color: #00ab6b">
                        <label for="name" class="col-4 col-form-label">Email Address</label>
                        <div class="col-8">
                            <div class="input-group">
                                <input id="email" name="email" type="text" required="required" class="form-control">
                            </div>
                        </div>
                    </div>
            
                    <div class="form-group row" style="color: #00ab6b">
                        <label for="name" class="col-4 col-form-label">Phone Number</label>
                        <div class="col-8">
                            <div class="input-group">
                                <input id="phone" name="phonee" type="text" required="required" class="form-control">
                            </div>
                        </div>
                    </div>
    
                    <div class="form-group row">
                        <div class="offset-4 col-8">
                            <button name="submit" type="submit" class="btn btn-primary" style="background-color: #00ab6b" >Send</button>
                        </div>
                    </div>
                </form>
            </div>
        <!-- </div> -->
    </div>
</section>

<!-- Featured
================================================== -->
<a class="anchor" id="featuredposts"></a>
<section class="featured-posts">
    <div class="section-title">
        <h2><span>What we do</span></h2>
    </div>
    <div class="row">

    {% for post in site.posts %}

        {% if post.featured == true %}

            {% include featuredbox.html %}

        {% endif %}

    {% endfor %}

    </div>
</section>

{% endif %}

<!-- Posts Index
================================================== -->
<a class="anchor" id="recentposts"></a>
<section class="recent-posts">

    <div class="section-title">

        <h2><span>All Stories</span></h2>

    </div>

    <div class="row listrecent">

        {% for post in paginator.posts %}

            {% include postbox.html %}

        {% endfor %}

    </div>

</section>

<!-- Pagination
================================================== -->
<div class="bottompagination">
<div class="pointerup"><i class="fa fa-caret-up"></i></div>
<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div>

